body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto','Arial',sans-serif;
  font-size: 14px;
  color: black;
  background-color: #15adce; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: nexaLight;
  src: url("../fonts/nexaLight.otf"); }
@font-face {
  font-family: nexaRegular;
  src: url("../fonts/nexaRegular.otf"); }
@font-face {
  font-family: nexaBold;
  src: url("../fonts/nexaBold.otf"); }
@media (max-width: 376px) {
  body {
    width: 100%;
    height: 200vh; }

  * {
    font-family: nexaBold; }

  .inDropDown {
    background-color: white;
    width: 50px;
    height: 50px;
    padding: 13px;
    border-radius: 50%;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); }
    .inDropDown .lineHam {
      background-color: #198da6 !important; }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100;
    filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3);
    display: none; }

  .landingPage {
    height: 100vh;
    width: 100%;
    overflow: hidden; }
    .landingPage .headerArtists {
      z-index: 100000;
      position: fixed;
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      height: 18vh;
      justify-content: space-between;
      align-items: center; }
      .landingPage .headerArtists .line {
        height: 1px;
        width: 100%;
        background-color: #198da6;
        z-index: -10000;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%); }
      .landingPage .headerArtists .roundBorders {
        height: 92px;
        width: 92px;
        border-radius: 50%;
        background-color: #198da6;
        font-size: 50px;
        margin: 0 25px;
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); }
      .landingPage .headerArtists .number {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("../images/iconmonstr-home-6.svg");
        background-repeat: no-repeat;
        background-position: center; }
      .landingPage .headerArtists .menu {
        z-index: 105;
        position: relative;
        height: 46px;
        width: 46px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center; }
        .landingPage .headerArtists .menu .behindCircle {
          display: none;
          z-index: 100;
          position: absolute;
          top: 0;
          left: 0;
          height: 46px;
          width: 46px;
          border-radius: 50%;
          margin: 0; }
          .landingPage .headerArtists .menu .behindCircle .homeBtn {
            width: 80%;
            height: 20px;
            border-radius: 50%; }
        .landingPage .headerArtists .menu #hamburger-1.is-active .lineHam:nth-child(2) {
          opacity: 0; }
        .landingPage .headerArtists .menu #hamburger-1.is-active .lineHam:nth-child(1) {
          transform: translateY(6px) rotate(45deg); }
        .landingPage .headerArtists .menu #hamburger-1.is-active .lineHam:nth-child(3) {
          transform: translateY(-6px) rotate(-45deg); }
        .landingPage .headerArtists .menu .hamburger {
          border-radius: 50%;
          z-index: 101;
          transition: all 0.6s ease-in-out; }
          .landingPage .headerArtists .menu .hamburger .lineHam {
            width: 25px;
            height: 3px;
            background-color: #bee1ff;
            border-radius: 12px;
            display: block;
            margin: 3px auto;
            transition: all 0.6s ease-in-out; }
    .landingPage .mainContainer {
      position: relative;
      width: 100%;
      height: 72vh;
      overflow: hidden;
      margin-top: 17vh;
      pointer-events: none; }
      .landingPage .mainContainer .bgImage {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); }
      .landingPage .mainContainer .headline {
        position: absolute;
        left: 33%;
        top: 56%; }
        .landingPage .mainContainer .headline span {
          color: white;
          font-family: nexaBold;
          font-size: 44px; }
    .landingPage .scroller {
      width: 100%;
      height: 20vh;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: center;
      margin-top: -70px; }
      .landingPage .scroller .discover {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 71px;
        width: 70%;
        border-radius: 35px;
        font-size: 26px;
        color: #198da6;
        background-color: white; }

  .page2 {
    height: 100vh;
    width: 100%;
    border-top: thin solid #15adce;
    background-image: url("../images/fish.png");
    background-position: 31% 133%;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    background-color: #15adce !important;
    background-size: 105%; }
    .page2 .mainContainerPage2 {
      width: 100%;
      height: 67%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      margin-top: 11vh; }
      .page2 .mainContainerPage2 .photo {
        width: 72%;
        height: 271px;
        border-radius: 50%;
        background-image: url("../images/girlPage2.png");
        background-repeat: no-repeat;
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); }
      .page2 .mainContainerPage2 .desc {
        padding: 10px 20px;
        margin-top: -50px;
        z-index: 10;
        background-color: #198da6;
        width: 72%;
        height: 240px;
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
        border-radius: 43px; }
        .page2 .mainContainerPage2 .desc .head {
          font-size: 23px;
          margin-bottom: 0;
          color: #bee1ff; }
        .page2 .mainContainerPage2 .desc .body {
          margin-top: 5px;
          font-size: 17px;
          font-family: nexaRegular;
          color: #bee1ff; }
      .page2 .mainContainerPage2 .listen {
        color: white;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 11;
        width: 261px;
        height: 72px;
        margin-top: -40px;
        background-color: #186e81;
        border-radius: 36px;
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); }
    .page2 .sample {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48%;
      height: 40px;
      border-radius: 20px;
      filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
      background-color: #198da6;
      margin: 0 auto;
      color: white;
      margin-bottom: 5%; }
    .page2 .musicPlayer {
      position: relative;
      width: 84%;
      height: 82px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      align-items: center;
      margin: 0 auto;
      background-color: #198da6;
      border-radius: 36px;
      filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
      color: white;
      font-family: nexaBold;
      overflow: hidden; }
      .page2 .musicPlayer .musicProgress {
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #186e81;
        z-index: -2; }
      .page2 .musicPlayer .lineAcross {
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 57%;
        transform: translate(-50%, -50%);
        width: 180px;
        height: 1px;
        background-color: #bee1ff; }
      .page2 .musicPlayer .cover {
        width: 84px;
        height: 77px;
        margin-top: 5px;
        margin-left: -17px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../images/coverBorder.svg");
        overflow: hidden; }
        .page2 .musicPlayer .cover img {
          max-width: 100%;
          max-height: 100%; }
      .page2 .musicPlayer .songInfo, .page2 .musicPlayer .songInfo2 {
        margin-top: 2px;
        font-size: 18px;
        height: 62%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between; }
      .page2 .musicPlayer .songInfo {
        margin-left: -20px; }
      .page2 .musicPlayer .songInfo2 {
        font-size: 15px;
        text-align: right; }
      .page2 .musicPlayer .playBtn {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #186e81;
        background-image: url("../images/playBtn.svg");
        background-position: center;
        background-repeat: no-repeat;
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); } }

/*# sourceMappingURL=main.css.map */
