// COLOR FROM ASSETS PANEL
$lightBlue: rgba(190,225,255,255);
$darkBlue2: rgba(24,110,129,255);
$blue: rgba(21,173,206,255);
$darkBlue1: rgba(25,141,166,255);


body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto','Arial',sans-serif;
  font-size: 14px;
  color: black;
  background-color: $blue;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: nexaLight;
  src: url("../fonts/nexaLight.otf");
}
@font-face {
  font-family: nexaRegular;
  src: url("../fonts/nexaRegular.otf");
}
@font-face {
  font-family: nexaBold;
  src: url("../fonts/nexaBold.otf");
}
@media (max-width: 376px) {
  body{
    width:100%;
    height:200vh;
  }
  * {
    font-family: nexaBold;
  }

  .inDropDown{
    background-color: white;
    width: 50px;
    height: 50px;
    padding: 13px;
    border-radius: 50%;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));

    .lineHam{
      background-color: $darkBlue1 !important;
    }
  }

  .overlay{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    pointer-events: none;
    z-index: 100;
    // display: none;
    filter: blur(5px);
    background-color: rgba(0,0,0,0.3);
    display: none;
  }


  .landingPage{
    height:100vh;
    width:100%;
    overflow:hidden;

    .headerArtists {
      z-index: 100000;
      position: fixed;
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      height: 18vh;
      justify-content: space-between;
      align-items: center;

      .line{
        height:1px;
        width:100%;
        background-color: $darkBlue1;
        z-index:-10000;
        position: absolute;
        top:50%;
        left:0;
        transform: translateY(-50%);
      }

      .roundBorders {
        height: 92px;
        width: 92px;
        border-radius: 50%;
        background-color: $darkBlue1;
        font-size: 50px;
        margin: 0 25px;
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
      }

      .number {
        display:flex;
        align-items: center;
        justify-content: center;
        background-image: url("../images/iconmonstr-home-6.svg");
        background-repeat: no-repeat;
        background-position: center;
      }

      .menu {
        z-index: 105;
        position: relative;
        height: 46px;
        width: 46px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;

        .behindCircle{
          display: none;
          z-index: 100;
          position: absolute;
          top:0;
          left:0;
          height: 46px;
          width:46px;
          border-radius: 50%;
          margin:0;

          .homeBtn{
          width:80%;
          height:20px;
          border-radius: 50%;

            .home{

            }

            span{

            }

          }

        }

        #hamburger-1.is-active .lineHam:nth-child(2){
          opacity: 0;
        }
        #hamburger-1.is-active .lineHam:nth-child(1){
          transform: translateY(6px) rotate(45deg);
        }
        #hamburger-1.is-active .lineHam:nth-child(3){
          transform: translateY(-6px) rotate(-45deg);
        }

        .hamburger{
          border-radius: 50%;
          z-index: 101;
          transition: all 0.6s ease-in-out;

          .lineHam{
            width: 25px;
            height: 3px;
            background-color: $lightBlue;
            border-radius: 12px;
            display: block;
            margin: 3px auto;
            transition: all 0.6s ease-in-out;
          }
        }
      }
    }

    .mainContainer{
      position: relative;
      width:100%;
      height:72vh;
      overflow:hidden;
      margin-top:17vh; // offset pour le header fixed
      pointer-events: none;

      .bgImage{
        position: absolute;
        top:0;
        left:50%;
        transform: translateX(-50%);
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
      }

      .headline{
        position: absolute;
        left:33%;
        top:56%;

        span{
          color:white;
          font-family: nexaBold;
          font-size:44px;
        }
      }
    }

    .scroller{
      width:100%;
      height:20vh;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: center;
      margin-top:-70px;

      .discover{
        display: flex;
        justify-content: center;
        align-items: center;
        height:71px;
        width:70%;
        border-radius:35px;
        font-size:26px;
        color:$darkBlue1;
        background-color: white;
      }
    }
  }

  .page2{
    height:100vh;
    width:100%;
    border-top:thin solid $blue;
    background-image: url("../images/fish.png");
    background-position: 31% 133%;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    background-color: $blue !important;
    background-size: 105%;

    .mainContainerPage2{
      width:100%;
      height:67%;
      display:flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      margin-top: 11vh;

      .photo{
        width:72%;
        height:271px;
        border-radius:50%;
        background-image: url("../images/girlPage2.png");
        background-repeat: no-repeat;
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
      }

      .desc{
        padding:10px 20px;
        margin-top:-50px;
        z-index:10;
        background-color: $darkBlue1;
        width:72%;
        height:240px;
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
        border-radius:43px;

        .head{
          font-size:23px;
          margin-bottom: 0;
          color:$lightBlue;
        }

        .body{
          margin-top:5px;
          font-size:17px;
          font-family: nexaRegular;
          color:$lightBlue;
        }
      }

      .listen{
        color:white;
        font-size:18px;
        display:flex;
        justify-content: center;
        align-items: center;
        z-index:11;
        width:261px;
        height:72px;
        margin-top:-(80px / 2);
        background-color: $darkBlue2;
        border-radius: 36px;
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
      }

    }

    .sample{
      display: flex;
      justify-content: center;
      align-items: center;
      width:48%;
      height:40px;
      border-radius:20px;
      filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
      background-color:$darkBlue1;
      margin:0 auto;
      color:white;
      margin-bottom:5%;
    }

    .musicPlayer{
      position: relative;
      width:84%;
      height:82px;
      display:flex;
      flex-flow: row nowrap;
      justify-content:space-evenly;
      align-items: center;
      margin:0 auto;
      background-color: $darkBlue1;
      border-radius: 36px;
      filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
      color:white;
      font-family: nexaBold;
      overflow: hidden;

      .musicProgress{
        position: absolute;
        top:0;
        left:0;
        width:0%;
        height:100%;
        background-color: $darkBlue2;
        z-index: -2;
      }

      .lineAcross{
        z-index: -1;
        position: absolute;
        top:50%;
        left:57%;
        transform: translate(-50%, -50%);
        width:180px;
        height:1px;
        background-color: $lightBlue;
      }

      .cover{
        width: 84px;
        height:77px;
        margin-top: 5px;
        margin-left: -17px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image:url("../images/coverBorder.svg");
        overflow: hidden;

        img{
          max-width:100%;
          max-height:100%;
        }
      }

      .songInfo, .songInfo2{
        margin-top: 2px;
        font-size: 18px;
        height:62%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
      }

      .songInfo{
        margin-left:-20px;
      }

      .songInfo2{
        font-size:15px;
        text-align: right;
      }

      .playBtn{
        width:50px;
        height:50px;
        border-radius: 50%;
        background-color: $darkBlue2;
        background-image: url("../images/playBtn.svg");
        background-position: center;
        background-repeat: no-repeat;
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));

      }
    }
  }


}
